<html>
<head>
    <link type="text/css" rel="stylesheet" href="styles.css"></style>
    <script type="text/javascript" src="//unpkg.com/d3"></script>
  
    <script type="text/javascript" src="//unpkg.com/globe.gl"></script>
    <script type="text/javascript" src="scripts.js"></script>
  </head>
  
  <body>
    <div class="page-header">
        <div>COVID-19 Globe</div>
    </div>
    <div id="covidGlobe">
        
    </div>
  </body>
  </html>